@import 'configs';


.ad-layout{
    height: 100vh;
    background-color: #F5F6FA;
    @extend .flex-row;
    align-items: flex-start;
    flex-wrap: nowrap;
    .menus-container{
        background-color: #fff;
        width: 60px;
        border-right: 1px solid #EEEEF2;
        height: 100vh;
        padding-top: 60px;
        .menu{
            width: 100%;
            @extend .flex-center;
            a.m-link{
                display: block;
                border-right: 2px solid transparent;
                width: 60px;
                height: 40px;
                font-size: 17px;
                text-align: center;
                padding-top: 8px;
                color: #777;
            }
            a.m-link:hover{
                color: $main-color;
                background-color: #EEEEF2;
            }
            a.m-link.active{
                border-color: $main-color;
                color: $main-color;
            }
        }
    }
    .content-section
    {
        width: calc(100% - 60px);
        .master-hdr{
            height: 60px;
            background-color: #fff;
            border-bottom: 1px solid #EEEEF2;
            @extend .flex-row;
            padding: 0 20px;
            color: #384B5B;
            .wrapper
            {
                width: 100%;
                @extend .flex-row;
                justify-content: flex-end;
                font-size: 13px;
                >div{
                    padding: 10px;
                }
                .profile-container
                {
                    font-weight: 600;
                }
                .logout-container{
                    a{
                        color: inherit;
                        text-decoration: none;
                        font-weight: bold;
                        color: $main-color;
                    }
                }
            }
        }
        .master-content
        {
            padding: 15px;
            font-size: 14px;
            .notfications{
                margin-bottom: 15px;
            }
        }
    }
}
.ad-product-displayer
{

    a.m-link{
        display: block;
        width: 250px;
        height: 275px;
        background-color: #fff;
        border: 1Px solid #EEEEF2;
        color: inherit;
        .image-container{
            width: 100%;
            height: 150px;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .status{
                position: absolute;
                left: 0;
                right: 0;
                span{
                    display: inline-block;
                    padding: 5px;
                    background-color: $success-color;
                    color: #fff;
                    font-size: 11px;
                    font-weight: bold;
                }
                span.warning
                {
                    background-color: $warning-color;
                }
            }
        }
        .details-container{
            padding: 10px;
            >div{
                margin-bottom: 8px;
            }
            .title-c{
                font-size: 14px;
                color: #444;
                @extend .ellipsis;
            }
            .price{
                font-size: 15px;
                color: $main-color;
                font-weight: bold;
            }
            .date{
                @extend .ellipsis;
                @extend .text-muted;
                @extend .small;
            }

        }
    }
    a.m-link:hover{
        box-shadow: $shadow;
    }
}
.ad-products-list
{
    @extend .flex-row;
    flex-wrap: wrap;
    align-items: flex-start;
    >div{
        margin:8px;
    }
}