@import 'configs';

.master-header
{
    min-height: $header-height;
    background-color: $main-color;
    border-bottom: 1px solid rgb(214, 214, 214);
    z-index: 1000000;

    .hdr--wrapper
    {
        @extend .flex-row-space-b;
        @extend .container;
        padding: 0 10px;
        .logo-container
        {
            margin-right: 25px;
            img{
                height: 60px;
            }
        }
        .menu-container
        {
            @extend .flex-row;
            .menu
            {
                padding: 0 10px;
                a{
                    color: #4a4a4a;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    transition: ease-in-out .30s color;
                }
            }
        }
        @include media-breakpoint-down(md)
        {
            .m-menu{
                display: none;
            }
        }
    }
    #small-menu-hdr{
        display: none;
        border-top: 1px solid #ccc;
        background-color: #fff;
        a{
            color: #444;
            display: block;
            font-size: 16px;
            padding: 10px;
            width: 100%;
            font-weight: bold;
            border-bottom: 1px solid #f4f4f4;
        }
        

    }
    @include media-breakpoint-up(md)
    {
        .small-menu{
            display: none;
        }
    }
}
#app-content{
    min-height: 50vh;
}
.master-footer
{
    .newsletter-container
    {
        min-height: 20vh;
        background-color: #555;
        color: #fff;
        @extend .flex-row;
        .wrapper{
            @extend .container;
            .title{
                font-size: 24px;
                font-weight: bold;
            }
            .caption{
                font-size: 12px;
                font-weight: 400;
            }
            input
            {
                border-color: transparent;
                border-bottom: 2px solid #EEEEF2;
                border-radius: 0!important;
                background-color: transparent;
                color: #fff;
            }
        }
    }
    .footer-content
    {
        background-color: #3F4551;
        min-height: 30vh;
        @extend .flex-center;
        .wrapper{
            @extend .container;
            padding: 8vh 10px;

            .upper-f{
                .section{
                    @extend .col-md-3;
                    @extend .mb-2;
                    .s-title{
                        font-size: 20px;
                        color: #fff;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                    .menus-container{
                        a{
                            display: block;
                            margin-bottom: 8px;
                            font-size: 16px;
                            color: #f5f5f5;
                        }
                        a:hover{
                            color: $main-color;
                        }
                    }
                    .social-medias
                    {
                        a{
                            display: inline-block;
                            margin-right: 8px;
                            color: #f5f5f5;
                        }
                        a:hover{
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    .credits{
        .wrapper{
            @extend .container;
            padding-top: 15px ;
            padding-bottom: 15px ;
            color: #777;
            font-size: 12px;
            border-top: 2px solid #EEEEF2;
        }
    }
}
.auth-form
{
    @extend .flex-row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    min-height: 100vh;
    .wrapper{
        width: 95%;
        max-width: 480px;
        background-color: #fff;
        border: 1Px solid #EEEEF2;
        >div{
            padding: 10px;
        }
        .title-container{
            margin-bottom: 8px;
            border-bottom: 1px solid #EEEEf2;
            .title{
                font-size: 18px;
            }
        }
        .bdy-c{
                form{
                    >div{
                        margin-bottom: 25px;
                        input{
                            border-radius: 0!important;
                        }
                    }
                }


            button{
                width: 100%;
            }
        }
    }
}
.app-idx-page
{
    section{
        padding: 10vh 8px;
        min-height: 60vh;
    }
    section:nth-child(even)
    {
        background-color: #fff;
    }
    .about,.hiro,.vsoft{
        .s-wrapper{
            @extend .container;
            .caption-side
            {
                .title-c
                {
                     margin-bottom: 32px;
                    h3
                    {
                        font-size: 58px;
                        font-family: 'Gelasio', serif;
                    }
                    .subtitle{
                        font-size: 15px;
                        @extend .text-muted;
                    }
                }
                .content{
                    color: #444;
                    font-size: 22px;
                    line-height: 42px;
                    font-weight: 300;
                    letter-spacing: 0.35px;
                }
            }
            .image-container{
                img{
                    width: 100%;
                }
            }
        }

    }
    .hiro{
        .subtitle{
            line-height: 25px;
            letter-spacing: .1rem;
            color: #777;
        }
    }
}
.app-product-displayer
{

    a.m-link{
        display: block;
        width: 250px;
        height: 275px;
        background-color: #fff;
        border: 1Px solid #EEEEF2;
        color: inherit;
        .image-container{
            width: 100%;
            height: 150px;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .status{
                position: absolute;
                left: 0;
                right: 0;
                span{
                    display: inline-block;
                    padding: 5px;
                    background-color: $success-color;
                    color: #fff;
                    font-size: 11px;
                    font-weight: bold;
                }
                span.warning
                {
                    background-color: $warning-color;
                }
            }
        }
        .details-container{
            padding: 10px;
            >div{
                margin-bottom: 8px;
            }
            .title-c{
                font-size: 14px;
                color: #444;
                @extend .ellipsis;
            }
            .price{
                font-size: 15px;
                color: $main-color;
                font-weight: bold;
            }
            .date{
                @extend .ellipsis;
                @extend .text-muted;
                @extend .small;
            }

        }
    }
    a.m-link:hover{
        box-shadow: $shadow;
    }
}
.product-list
{
    .s-wrapper
    {
        @extend .container;
    }
    .content{
        @extend .flex-row;
        flex-wrap: wrap;
        align-items: flex-start;
        >div{
            margin:8px;
        }
    }
}
.product-show
{
    @extend .py-4;
    .wrapper{
        @extend .container;
        .image-container{
            img{
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .details-container
        {
            >div{
                margin-bottom: 8px;
            }
            .name{
                font-size: 17px;
                color: #555;
                font-weight: bold;
            }
            .price{
                font-size: 24px;
                color: $second-color;
            }
            .type{
                span{
                    @extend .text-muted;
                }
            }
            .description{
                @extend .text-muted;
            }
            .order{
                .btn{
                    width: 100%;
                }
            }
        }
    }
}