// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gelasio:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");


// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Variables
@import "variables";

$main-color : #e0e189;
$second-color:#e30613;
//
$success-color : #27A745;
$warning-color : #FFC106;

$shadow : 0px 8px 15px rgba(0, 0, 0, 0.1);
//@extend
$header-height:70px;


@mixin circle($size : 75px)
{
    width: $size;
    height: $size;
    border-radius: 100%;
    overflow: hidden;
}

//HTML
html,
body {
scroll-behavior: smooth;
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: 400;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}
body {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    background: #F5F6FA;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}
a{
    color: inherit;
}
a:hover{
    color: $main-color;
    text-decoration: none;
}
//flex
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-column
{
    @extend .flex-row;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex-row-space-b
{
    @extend .flex-row;
    justify-content: space-between;
}
.flex-center{
    @extend .flex-row;
    justify-content: center;
}
.btn{

    font-size: 13px;
    font-weight: bold;
    border-radius: 45px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  outline: none;
}
.btn:not(.btn-sm){
    padding: 10px 25px;
}
.btn:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}
.btn:not(.no-up):hover{
    transform: translateY(-7px);
}
.btn-primary
{
    background-color: $main-color;
}
.btn-primary:hover{
    background-color: darken($color: $main-color, $amount: 3%);
    box-shadow: 0px 15px 20px rgba(26, 17, 12, 0.376);
}
.btn-default{
    background-color: #fff;
}
.create--form--001
  {
      @extend .flex-center;
      .wrapper{
          background-color: #fff;
          border: 1px solid #EEEEF2;
          width: 95%;
          max-width: 760px;
          .title-container{
              padding: 15px;
              font-size: 17px;
              color: #4a4a4a;
              border-bottom: 1px solid #EEEEF2;

          }
          .bdy{
              padding: 15px;
          }
      }
  }
  .optional:after{
      content:" (facultatif)";
      font-size: 11px;
      @extend .text-muted;
      display: inline-block;
      padding-left: 8px;
  }
  .is-empty-p
  {
      width: 100%;
      min-height: 20vh;
      @extend .flex-row;
      justify-content: center;
      .e-wrapper{
          width: 100%;
          max-width: 400px;
          padding-top: 50px;
          img{
              width: 100%;
          }
      }
  }
  .ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-side
{
    background-color: #fff;
    a{
        display: block;
        padding:10px;
        border-bottom: 1px solid #EEEEF2;
        color: #444;
        border-right: 2px solid transparent;
    }
    a.active{
        color: $main-color;
        border-right-color: $main-color;
    }
    a:not(.active):hover{
        color: $main-color;
        background-color: darken($color: #fff, $amount: 5%);
    }
}
.white-box{
    padding: 8px;
    background-color: #fff;
    border: 1px solid #EEEEF2;
}